.dropdown {
  width: 100%;
  position: relative;
  display: inline-block;

  display: flex;
}

.trigger {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  cursor: pointer;
}

.menu {
  opacity: 0;
  min-width: 100%;

  position: absolute;
  top: 100%;
  z-index: 9999;
  transform: translateY(-10px);

  pointer-events: none;
  transition: opacity 0.1s, transform 0.1s;
}

.menu.open {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.layout {
  padding: 8px;

  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}
