.productServices {
  width: 100%;
  max-width: 960px;
  margin: 16px auto;

  position: relative;

  color: var(--contrast-color);
}

.productServices::before {
  content: "";
  background: var(--contrast-complementary-color);
  height: 100%;
  width: 1px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-0.5px);
}

.layout {
  display: flex;
}

.column {
  flex: 1;

  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
}

.column h2 {
  margin: 0 16px;
}

.servicesList {
  list-style: none;
  padding: 0;
  margin: 0;

  color: var(--contrast-complementary-color);
}

.servicesList li {
  width: 80%;
  padding: 16px 0;
  margin: 0 auto;

  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 20px;

  border-bottom: 1px solid var(--contrast-complementary-color);
}

@media (max-width: 768px) {
  .servicesList li {
    font-size: 14px;
  }
}

.servicesList li span {
  display: flex;
  align-items: center;
}

.green {
  color: green;
}

.red {
  color: red;
}
