.trigger {
  background: var(--background-complementary-color);
  padding: 8px;

  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--contrast-color);
  font-size: 20px;

  transition: 0.2s ease;
}

.trigger span {
  display: flex;
  align-items: center;

  font-weight: bold;
}

.counter {
  color: var(--primary-color);
  font-family: Quicksand;
  font-weight: normal;
}

.trigger:hover {
  opacity: 0.75;
}

/* Popup */
.popup {
  background: var(--background-complementary-color);
  aspect-ratio: 3 / 4;
  height: 90vh;

  border-radius: 12px;

  display: flex;
  flex-flow: column nowrap;

  color: var(--contrast-color);
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  border-bottom: 1px solid var(--background-color);
}

.header h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.close {
  background: transparent;
  aspect-ratio: 1 / 1;

  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--contrast-color);
  font-size: 24px;

  cursor: pointer;
}

.content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}

.content::-webkit-scrollbar {
  width: 2px;
}

.content::-webkit-scrollbar-track {
  background: transparent;
}

.content::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

.content::-webkit-scrollbar-thumb:hover {
  background: var(--primary-complementary-color);
}

.section {
  width: 100%;
}

.sectionHeader {
  width: 100%;
  padding: 8px;

  display: flex;
}

.sectionHeader h4 {
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid var(--primary-color);
}

.options {
  width: 100%;
  padding: 8px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px;
}

.checkbox {
  font-size: 16px;

  cursor: pointer;
}

.checkbox {
  opacity: 0.5;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
}

.checkbox:hover {
  opacity: 0.75;
}

.checkbox input {
  display: none;
}

.checkmark {
  height: 10px;
  aspect-ratio: 1 / 1;

  border-radius: 50%;
  box-shadow: 0 0 0 1px var(--contrast-color);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.2s ease;
  background: transparent;
}

.checkbox:has(input:checked) {
  opacity: 1;
}

.checkbox input:checked + .checkmark {
  background: var(--primary-color);
  box-shadow: 0 0 0 1px var(--primary-color);
}

.range {
  padding: 16px;
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
  user-select: none;
}

.range * {
  user-select: none;
}

.inputs {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.inputs input {
  background: transparent;
  width: 15%;
  padding: 8px;

  border: none;
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--contrast-color);

  color: var(--contrast-color);
  font-size: 16px;
  font-family: Quicksand;
}

.inputs input[type="number"]::-webkit-outer-spin-button,
.inputs input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.footer {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-top: 1px solid var(--background-color);
}

.footer button {
  background: var(--background-color);
  flex: 1;
  padding: 12px;

  border: none;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--contrast-color);
  font-size: 16px;
  font-family: Quicksand;

  cursor: pointer;
}

.apply {
  background: var(--primary-color) !important;
  color: var(--background-color) !important;
  font-weight: bold !important;
}

@media (max-width: 768px) {
  .popup {
    height: auto;
    width: 80%;
  }
}
