.container {
  flex: 1;
}

.steps {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.step {
  width: 100%;
  display: flex;
  align-items: center;
  flex: 1;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;

  border-radius: 50%;
  font-weight: 600;

  transition: all 0.2s ease;
}

.circleActive {
  background: var(--primary-color);
  color: var(--background-color);
  box-shadow: 0 0 8px black;
}

.circleCompleted {
  background: var(--primary-color);
  color: var(--background-color);
}

.circleInactive {
  background: var(--background-complementary-color);
  color: var(--contrast-complementary-color);
}

.label {
  font-size: 14px;
  font-weight: 500;
  margin-left: 12px;
  color: var(--contrast-complementary-color);
  transition: color 0.2s ease;
}

.labelActive {
  flex: 1;
  color: var(--contrast-color);
}

@media (max-width: 768px) {
  .steps {
    flex-direction: row;
  }
  .step {
    min-width: 40px;
    flex: 0;
    padding: 8px;

    overflow: hidden;
    border-radius: 8px;

    transition: 1s ease;
  }
  .stepActive {
    background: var(--background-complementary-color);
    flex: 1;
  }
  .label {
    display: none;
  }
  .labelActive {
    display: block;
  }
}
