.container {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--contrast-color);
}

.header {
  margin-bottom: 8px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--contrast-color);
  margin-bottom: 4px;
}

.subtitle {
  color: var(--contrast-complementary-color);
  font-size: 14px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--contrast-color);
  margin-bottom: 4px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

.label {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;

  border: 1px solid var(--contrast-complementary-color);
  border-radius: 8px;

  background: transparent;
  cursor: pointer;
  transition: background 0.2s ease;
}

.label:hover {
  background: var(--background-complementary-color);
}

.checkbox {
  width: 16px;
  height: 16px;
  appearance: none;
  border: 1px solid var(--contrast-color);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  background: transparent;
  transition: all 0.2s ease;
}

.checkbox::after {
  content: "✓";
  color: var(--background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-size: 12px;
  transition: transform 0.2s ease;
}

.checkbox:checked {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.checkbox:checked::after {
  transform: translate(-50%, -50%) scale(1);
}

.labelText {
  font-size: 14px;
  font-weight: 500;
  color: var(--contrast-color);
}

.hasLocation {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;

  border: 1px solid var(--contrast-complementary-color);
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.hasLocation:hover {
  background: var(--background-complementary-color);
}

.optionRow {
  display: flex;
  justify-content: space-between;
}

.optionLabel {
  font-weight: 600;
  color: var(--contrast-color);
}

.radioGroup {
  display: flex;
  gap: 1rem;
}

.radioGroup label {
  opacity: 0.75;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
  color: var(--contrast-complementary-color);
  font-family: Quicksand;
}

.radioGroup label:has(input[type="radio"]:checked) {
  opacity: 1;
  font-weight: bold;
}

.radioGroup input[type="radio"] {
  display: none;
}
