.container {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: var(--contrast-color);
}

.header {
  margin-bottom: 8px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: var(--contrast-color);
  margin-bottom: 4px;
}

.subtitle {
  color: var(--contrast-complementary-color);
  font-size: 14px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sectionTitle {
  font-size: 18px;
  font-weight: 600;
  color: var(--contrast-color);
  margin-bottom: 4px;
}

.label,
.labelSmall {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  color: var(--contrast-complementary-color);
}

.input {
  background: var(--background-color);
  padding: 10px 12px;

  outline: none;
  border: none;
  border-radius: 0.6rem;

  color: var(--contrast-color);
  font-size: 16px;
  letter-spacing: 1px;

  transition: border-color 0.2s ease;
}

.row {
  display: flex;
  gap: 1rem;
}

.labelSmall {
  flex: 1;
}
