.container {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  color: var(--contrast-color);
}

.header h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 4px;
  color: var(--contrast-color);
}

.header p {
  color: var(--contrast-complementary-color);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  color: var(--contrast-complementary-color);
}

.label input {
  background: var(--background-color);
  width: auto;
  padding: 10px 12px;

  outline: none;
  border: none;
  border-radius: 0.6rem;

  color: var(--contrast-color);
  font-size: 16px;
  letter-spacing: 1px;

  transition: border-color 0.2s ease;
}

.label input[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.address {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.addressContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
