.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;

  color: var(--contrast-color);
}

.wrapper {
  height: 100%;
  max-width: 960px;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.side {
  flex: 0 0 20%;
  padding: 48px;

  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.header {
}

.header h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--contrast-color);
  text-wrap: nowrap;
}

.header p {
  color: var(--contrast-complementary-color);
  font-size: 16px;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  gap: 16px;
}

.card {
  max-height: 360px;
  background: var(--background-complementary-color);
  border-radius: 12px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  padding: 48px;
  overflow-y: auto;
}

.card::-webkit-scrollbar {
  width: 2px;
}

.card::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

.card::-webkit-scrollbar-thumb:hover {
  background: var(--primary-complementary-color);
}

.card::-webkit-scrollbar-track {
  background: transparent;
}
