.productLocation {
  width: 100%;
  max-width: 960px;
  margin: 16px auto;
}

.layout {
  padding: 16px;

  display: flex;
  flex-flow: column nowrap;
  gap: 16px;

  color: var(--contrast-color);
}

.header {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
}

.title,
.columnTitle {
  margin: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 4px;

  text-align: left;
  text-wrap: nowrap;
}

.title span,
.columnTitle span {
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  position: relative;

  display: flex;

  align-items: start;
}

.hasLocal {
  opacity: 0.5;
  width: 100%;

  cursor: pointer;
}

.hasLocal input {
  display: none;
}

.hasLocal:has(input:checked) {
  opacity: 1;
}

.column.conditional::before {
  content: "";
  position: absolute;
  background: var(--contrast-color);

  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
}

.column {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  gap: 8px;
  margin: 0 16px;
}

.columnTitle {
  font-size: 16px;
  margin-bottom: 8px;
}

.line {
  flex: 1;
  margin: 0 8px;

  display: flex;
  flex-flow: column nowrap;
  gap: 4px;
}

.line p {
  margin: 0;
  color: var(--contrast-complementary-color);
  font-size: 12px;
}

.line label {
  display: flex;
  flex-flow: column nowrap;

  color: var(--contrast-complementary-color);
  font-size: 12px;
}

.line input[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.line label input {
  background: var(--background-complementary-color);
  padding: 6px 8px;

  border: none;
  border-radius: 4px;

  color: var(--contrast-color);
}

.checkboxItem {
  opacity: 0.5;

  cursor: pointer;
}

.checkboxItem input {
  display: none;
}

.checkboxItem:has(input:checked) {
  opacity: 1;
}

@media (max-width: 768px) {
  .line {
    font-size: 14px;
  }
}

.editActions {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.editBtn,
.saveBtn,
.cancelBtn {
  background: transparent;
  padding: 8px;

  border: none;
  border-radius: 8px;
  box-shadow: 0 0 2px black;

  font-weight: bold;

  cursor: pointer;
}

.editBtn {
  opacity: 0.75;
  background: transparent;
  box-shadow: 0 0 0 1px var(--primary-color);

  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--primary-color);
}

.saveBtn {
  background: var(--primary-color);
  color: var(--background-color);
}

.cancelBtn {
  background: var(--background-color);
  color: var(--contrast-color);
}

.editActions button:hover {
  opacity: 0.75;
}

.editBtn:hover {
  opacity: 1;
}

.ocult {
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--contrast-complementary-color);
  padding: 8px;
}

.ocult p {
  margin-bottom: 8px;
  hyphens: auto;
  overflow-wrap: break-word;
  text-align: justify;
}

.ocult p span {
  text-wrap: nowrap;
}
