.productPage {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.loadingContainer {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  color: var(--contrast-color);
}

.layout {
  padding: 16px;

  display: flex;
  flex-flow: row wrap;
  align-items: start;
  gap: 16px;
}
