.productPage {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.layout {
  padding: 16px;

  display: flex;
  flex-flow: row wrap;
  align-items: start;
  gap: 16px;
}

.productShowcase {
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
}

.productSlider {
  height: calc(90vh - 32px);
  aspect-ratio: 4 / 3;
}

@media (max-width: 768px) {
  .productSlider {
    height: auto;
    width: 100%;
    aspect-ratio: 3 / 4;
  }
}

.producerHistory {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 16px;

  color: var(--contrast-color);
}

.producerHistory h2,
.producerHistory p {
  margin: 0;

  text-align: center;
}

.producerHistory p {
  color: var(--contrast-complementary-color);
  font-style: italic;
}

.topics {
  width: 100%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.topic {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 8px;
}

.icon {
  background: var(--contrast-color);
  aspect-ratio: 1 / 1;
  padding: 8px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--background-color);
  font-size: 32px;
}
