.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;

  color: var(--contrast-color);
}

.header {
  width: 100%;
  margin-bottom: 20px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 24px;
  padding-bottom: 0;
  display: inline-block;
}

.editActions {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.editBtn,
.saveBtn,
.cancelBtn {
  background: transparent;
  padding: 8px;

  border: none;
  border-radius: 8px;
  box-shadow: 0 0 2px black;

  font-weight: bold;

  cursor: pointer;
}

.editBtn {
  opacity: 0.75;
  background: transparent;
  box-shadow: 0 0 0 1px var(--primary-color);

  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--primary-color);
}

.saveBtn {
  background: var(--primary-color);
  color: var(--background-color);
}

.cancelBtn {
  background: var(--background-color);
  color: var(--contrast-color);
}

.editActions button:hover {
  opacity: 0.75;
}

.editBtn:hover {
  opacity: 1;
}

.content {
}

.list {
  padding: 0;

  list-style: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

.item {
  display: flex;
  flex-flow: column nowrap;
}

.label {
  opacity: 0.8;
  font-size: 14px;
}

.value {
  padding: 8px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  gap: 8px;
}

.trigger {
  background: var(--background-complementary-color);
  padding: 8px;

  border-radius: 4px;

  color: var(--contrast-color);
  font-size: 14px;
}

.menu {
  background: var(--background-complementary-color);
  max-height: 96px;

  overflow-y: auto;
}

.menu::-webkit-scrollbar {
  width: 2px;
}

.menu::-webkit-scrollbar-track {
  background: transparent;
}

.menu::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 5px;
}

.menu::-webkit-scrollbar-thumb:hover {
  background: var(--primary-complementary-color);
}

.menu button {
  background: var(--background-color);
  padding: 2px;

  border: none;
  border-radius: 4px;

  color: var(--contrast-color);
  font-family: Quicksand;

  cursor: pointer;
}

.radioOpt {
  opacity: 0.5;
  background: transparent;
  flex: 1;
  padding: 8px;

  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;

  cursor: pointer;

  transition: 0.25s ease;
}

.radioOpt:has(input:checked) {
  background: var(--background-complementary-color);
  opacity: 1;
}

.radioOpt input {
  display: none;
}

.number {
  background: var(--background-complementary-color);
  width: 100%;
  padding: 8px;

  border: none;
  border-radius: 8px;

  color: var(--contrast-color);
  font-size: 14px;
}

/* Chrome, Edge, Safari */
.number::-webkit-inner-spin-button,
.number::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.number {
  -moz-appearance: textfield;
}
