.trigger {
  background: var(--background-complementary-color);
  padding: 8px 12px;

  border: none;
  border-radius: 8px;

  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--contrast-color);
  font-size: 20px;

  cursor: pointer;
}

.trigger span {
  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotate(-105deg);
}

.popup {
  background: var(--background-complementary-color);
  height: 90vh;
  max-height: 700px;
  aspect-ratio: 3 / 4;

  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 0 16px black;

  display: flex;
  flex-direction: column;

  color: var(--contrast-color);
}

.header {
  padding: 16px;

  border-bottom: 1px solid var(--background-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.closeButton {
  background: none;
  height: 24px;
  aspect-ratio: 1 / 1;

  border: none;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--contrast-color);
  font-size: 24px;

  cursor: pointer;

  transition: 0.1s ease;
}

.closeButton:hover {
  opacity: 0.5;
}

.layout {
  height: 100%;
  padding: 16px;
}

.locationRequest {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.primaryButton {
  background: var(--background-color);
  padding: 16px;

  border: none;
  border-radius: 8px;
  box-shadow: 0 0 8px black;

  color: var(--contrast-color);
  font-family: quicksand;
  font-size: 20px;

  cursor: pointer;

  transition: 0.25s ease;
}

.primaryButton:hover {
  color: var(--primary-color);
}

.error {
  width: 80%;

  text-align: justify;
  hyphens: auto;
  overflow-wrap: break-word;

  color: var(--contrast-complementary-color);
  font-size: 12px;
}
