.homeSlider {
  width: 100%;
  max-width: 640px;
  aspect-ratio: 21 / 9;
  margin: 16px;
}

.layout {
  padding: 16px;

  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}

.loadingState,
.errorState {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  color: var(--contrast-color);
  font-size: 18px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.errorState {
  color: #ff6b6b;
}

/* Responsive */

@media (max-width: 768px) {
  .layout {
    padding: 8px;
    gap: 12px;
  }

  .loadingState,
  .errorState {
    font-size: 16px;
    padding: 16px;
  }
}
