.producerValues {
  background: var(--background-complementary-color);
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  border-radius: 16px;

  color: var(--contrast-color);
}

.layout {
  padding: 16px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 16px;
}

.header {
  width: 100%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 4px;

  font-size: 24px;
}

.header h2 span {
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  align-items: start;
}

.content::before {
  content: "";
  background: var(--contrast-complementary-color);
  height: 100%;
  width: 1px;

  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-0.5px);
}

.valueItem {
  height: 24px;
  width: 75%;
  break-inside: avoid;
  margin: 0 auto;
  padding: 8px 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--contrast-complementary-color);
}

.valueItem label {
  flex: 1;
  cursor: pointer;
}

.valueItem input {
  flex: 1;
  background: var(--background-color);
  padding: 8px;

  border: none;
  border-radius: 4px;

  color: var(--contrast-color);
}

.valueItem dd {
  margin: 0;
}

.editRow {
  border-bottom: 1px solid var(--contrast-color);
}

.valueOption {
  opacity: 0.5;
}

.valueOption:has(input:checked) {
  opacity: 1;
}

.valueOption input {
  display: none;
}

@media (max-width: 768px) {
  .valueItem {
    font-size: 12px;
  }
}

.valuesPayments {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 16px;
}

.payments {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.paymentOption {
  height: auto;
  aspect-ratio: 1 / 1;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  font-size: 12px;

  cursor: default;
}

.paymentOption:has(input) {
  opacity: 0.5;
  cursor: pointer;
}

.paymentOption span {
  font-size: 24px;

  transition: 0.2s ease;
}

.paymentOption input {
  display: none;
}

.paymentOption:has(input:checked) {
  opacity: 1;
}

.paymentOption:has(input:checked) span {
  transform: scale(1.1);
}

.editActions {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.editBtn,
.saveBtn,
.cancelBtn {
  background: transparent;
  padding: 8px;

  border: none;
  border-radius: 8px;
  box-shadow: 0 0 2px black;

  font-weight: bold;

  cursor: pointer;
}

.editBtn {
  opacity: 0.75;
  background: transparent;
  box-shadow: 0 0 0 1px var(--primary-color);

  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--primary-color);
}

.saveBtn {
  background: var(--primary-color);
  color: var(--background-color);
}

.cancelBtn {
  background: var(--background-color);
  color: var(--contrast-color);
}

.editActions button:hover {
  opacity: 0.75;
}

.editBtn:hover {
  opacity: 1;
}
